.sidebar{
    flex: 1;
    height: calc(100vh-50px);
    background-color: rgb(226, 230, 231);
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #2E5266FF;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 15px;
    color: rgb(122, 149, 163);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: rgb(203, 208, 212);
}

.sidebarIcon{
    margin-right: 5px;
    font-style: 20px !important;
}